<div class="fluid-container main">
	<div class="sidebar-container">
		<div class="sidebar-logo">
		  goOrganic
		</div>
		<ul class="sidebar-navigation">
		  <li class="header">Admin Panel</li>
		  <li>
			<a (click)="homeF()">
			  <i class="fa fa-home" aria-hidden="true"></i> AdminHome
			</a>
		  </li>
		  <li>
			<a (click)="profileF()">
			  <i class="fa fa-tachometer" aria-hidden="true"></i> Profile
			</a>
		  </li>
		  <li>
			<a href="#">
			  <i class="fa fa-tachometer" aria-hidden="true"></i> Logout
			</a>
		  </li>
		  <li class="header">Another Menu</li>
		  <li>
			<a (click)="agroCompF()">
			  <i class="fa fa-users" aria-hidden="true"></i> Agro-Companies
			</a>
		  </li>
		  <li>
			<a (click)="insuranceF()">
				<i class="fa fa-users" aria-hidden="true"></i> Insurance
			</a>
		  </li>
		  <li>
			<a (click)="farmersF()">
				<i class="fa fa-users" aria-hidden="true"></i> Farmers
			</a>
		  </li>
		  <li>
			<a (click)="productsF()">
				<i class="fa fa-users" aria-hidden="true"></i> Products
			</a>
		  </li>
		</ul>
	  </div>

	  <div class="content-container">

		<div class="container-fluid">

		  <!-- Main component for a primary marketing message or call to action -->
          <div>
			  <br>
              <mat-card>
				<button class="btn btn-success">Add Farmer</button>
				<br>
				<br>
				<hr>
				<div class="table-responsive">
					<br>
					<table *ngIf="farmers && farmers.length > 0" class="table">
						<thead class="text-center">
							<th>Firstname</th>
							<th>Lastname</th>
							<th>Username</th>
							<th>Email</th>
							<th>Actions</th>
						</thead>
						<tbody>
							<tr *ngFor="let farmer of farmers" class="text-center">
								<td>{{farmer.fname}}</td>
								<td>{{farmer.sname}}</td>
								<td>{{farmer.username}}</td>
								<td>{{farmer.email}}</td>
								<td>
									<button class="btn btn-warning mr-2">Edit</button>
									<button class="btn btn-danger">Delete</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			  </mat-card>
		  </div>

		</div>
	  </div>
</div>
