<div class="container-fluid">

	<!-- Main component for a primary marketing message or call to action -->
	<div>
		<br>
		<mat-card>
			<button class="btn btn-success">Add Farmer</button>
			<br>
			<br>
			<hr>
			<div class="table-responsive">
				<br>
				<table *ngIf="farmers && farmers.length > 0" class="table">
					<thead class="text-center">
						<th>Firstname</th>
						<th>Lastname</th>
						<th>Username</th>
						<th>Email</th>
						<th>Actions</th>
					</thead>
					<tbody>
						<tr *ngFor="let farmer of farmers" class="text-center">
							<td>{{farmer.fname}}</td>
							<td>{{farmer.sname}}</td>
							<td>{{farmer.username}}</td>
							<td>{{farmer.email}}</td>
							<td>
								<button class="btn btn-warning mr-2">Edit</button>
								<button class="btn btn-danger">Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</mat-card>
	</div>

</div>
