li > a:hover {
  cursor: pointer;
}
.navbar-light .navbar-nav .nav-link.active {
	color: rgb(46, 61, 194); font-weight: bold;
}

.nav-link {
  color: green;
}

.h-brand {
  margin: 0;
  padding: 0;
}

#navbar {
  min-height: 13vh;
  z-index: 1;
  box-shadow: 0 0.2px 0 0.6px #999;
  color: green;
}

.dropdown-item {
  color: green;
  background-color: #eee;
}

.dropdown-item:hover {
  background-color: green;
  color: #fff;
}
