<div class="fluid-container main">
	<div class="sidebar-container">
		<div class="sidebar-logo bg-success">
		  goOrganic
		</div>
		<ul class="sidebar-navigation">
		  <li class="header">Admin Panel</li>
		  <li>
			<a  (click)="homeF()">
			  <i class="fa fa-home" aria-hidden="true"></i> AdminHome
			</a>
		  </li>
		  <li>
			<a (click)="profileF()">
			  <i class="fa fa-tachometer" aria-hidden="true"></i> Profile
			</a>
		  </li>
		  <li>
			<a (click)="login()">
			  <i class="fa fa-tachometer" aria-hidden="true"></i> Login
			</a>
		  </li>
		  <li>
			<a (click)="register()">
			  <i class="fa fa-tachometer" aria-hidden="true"></i> Register
			</a>
		  </li>
		  <li>
			<a>
			  <i class="fa fa-tachometer" aria-hidden="true"></i> Logout
			</a>
		  </li>
		  <li class="header">Another Menu</li>
		  <li>
			<a (click)="agroCompF()">
			  <i class="fa fa-users" aria-hidden="true"></i> Agro-Companies
			</a>
		  </li>
		  <li>
			<a (click)="insuranceF()">
			  <i class="fa fa-cog" aria-hidden="true"></i> Insurance
			</a>
		  </li>
		  <li>
			<a (click)="farmersF()">
			  <i class="fa fa-cog" aria-hidden="true"></i> Farmers
			</a>
		  </li>
		  <li>
			<a href="#">
			  <i class="fa fa-info-circle" aria-hidden="true"></i> Information
			</a>
		  </li>
		</ul>
	  </div>

	  <div class="content-container">

		<div class="container-fluid">

		  <!-- Main component for a primary marketing message or call to action -->
		  <br>
		  <div class="text-center">
			  <h1 style="color: green;">goOrganic</h1>
			  <p class="lead" style="margin-bottom: 20px;">Please Register here...</p>
		  </div>
		  <div class="sub-main">
			<br>
			<br>
			<div class="col-md-6">
			  <form autocomplete="off" novalidate #signUpForm="ngForm"  (ngSubmit)="save(signUpForm)">

			   <div class="form-group"
				  [ngClass] = "{'error': fname.invalid && (fname.touched || fname.dirty || mouseOver)}"
			   >
					  <label for="fname">Firstname *</label>
					  <input
						  type="text"
						  ngModel
						  name="fname"
						  #fname = "ngModel"
						  placeholder="Firstname..."
						  class="form-control"
						  class="form-control"
						  required
						  pattern = "[a-zA-Z].*"
					  >
					  <div *ngIf="fname.invalid && (fname.touched || fname.dirty || mouseOver)">
						  <em *ngIf="fname.errors.required">first-name is required.</em>
						  <em *ngIf="fname.errors.pattern">first-name must  with a letter.</em>
					  </div>
				</div>

				<div class="form-group"
					[ngClass] = "{'error': sname.invalid && (sname.touched || sname.dirty || mouseOver)}"
				>
					  <label for="username">Lastname *</label>
					  <input
						  type="text"
						  ngModel
						  name="sname"
						  #sname = "ngModel"
						  placeholder="Lastnameame..."
						  class="form-control"
						  required
						  pattern = "[a-zA-Z].*"
					  >
					  <div *ngIf="sname.invalid && (sname.touched || sname.dirty || mouseOver)">
						  <em *ngIf="sname.errors.required">lastname name is required.</em>
						  <em *ngIf="sname.errors.pattern">lastname must  with a letter.</em>
					  </div>
				  </div>

				  <div class="form-group"
					  [ngClass] = "{'error': usern.invalid && (usern.touched || usern.dirty || mouseOver)}"
				  >
						  <label for="username">Username *</label>
						  <input
							  type="text"
							  ngModel
							  name="username"
							  #usern = "ngModel"
							  placeholder=" Username..."
							  class="form-control"
							  required
							  pattern = "[a-zA-Z].*"
						  >
						  <div *ngIf="usern.invalid && (usern.touched || usern.dirty || mouseOver)">
							  <em *ngIf="usern.errors.required">username is required.</em>
							  <em *ngIf="usern.errors.pattern">username must  with a letter.</em>
						  </div>
					  </div>

					  <div class="form-group">
						  <label for="email">Email *</label>
						  <input
							  type="text"
							  name="email"
							  ngModel
							  placeholder="enter email"
							  required
							  class="form-control"
							  email
							  #useremail="ngModel"
						  >
						  <div *ngIf="useremail.invalid && (useremail.touched || useremail.dirty || mouseOver)">
							  <em *ngIf="useremail.errors.required">email is required.</em>
							  <em *ngIf="useremail.errors.pattern">username must  with a letter.</em>
						  </div>
					  </div>
				  <div ngModelGroup="passwordGroup"
					   #passwordGroup="ngModelGroup"
					   [ngClass] = "{'error':
									  c_pass.invalid && (c_pass.touched || c_pass.dirty || mouseOver) && !c_pass.errors.required}"
				  >
					  <div class="form-group"
						  [ngClass] = "{'error': pass.invalid && (pass.touched || pass.dirty || mouseOver)}"
					  >
						  <label for="password">Password *</label>
						  <input
							  type="password"
							  ngModel
							  name="password"
							  #pass = "ngModel"
							  class="form-control"
							  class="form-control"
							  (input)="c_pass.control.updateValueAndValidity()"
							  id="password"
							  placeholder=" Password..."
							  required
						  >
					  <div *ngIf="pass.invalid && (pass.touched || pass.dirty || mouseOver)">
						  <em *ngIf="pass.errors.required">password is required.</em>
					  </div>
				 </div>

				  <div class="form-group"
					   [ngClass] = "{'error': pass.invalid && (pass.touched || pass.dirty || mouseOver)}"
				  >
					 <label for="c_password">Confirm Password *</label>
					 <input
						 type="password"
						 ngModel
						 name="c_password"
						 #c_pass = "ngModel"
						 appconfirmpassword="password"
						 class="form-control"
						 id="c_password"
						 placeholder=" Confirm password..."
						 required
					 >
					 <div *ngIf="c_pass.invalid && (c_pass.touched || c_pass.dirty || mouseOver)">
						 <em *ngIf="c_pass.errors.required">Confirm password.</em>
						 <em *ngIf="c_pass.errors.notEqual && !c_pass.errors.required">password does not match.</em>
					 </div>
				   </div>
				 </div>


				  <span (mouseenter)="mouseOver = true" (mouseleave)="mouseOver = false">
				  <button type="submit" class="btn btn-outline-secondary" id="btn-one" [disabled]="signUpForm.invalid || signUpForm.invalid">Save</button>
				  </span>
				  <button type="button" class="btn btn-outline-secondary" id="btn-two" (click)="cancel()">Cancel</button>

			  </form>
			 <br><br>
		   </div>
		 </div>

		</div>
	  </div>
</div>
