.main {
	padding-top:0px;
}

.submain {
	background-image: url('~src/assets/images/mt-1021-gallery-img05-bg.jpg');
	background-position: center;
	background-repeat:  no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: 0px;
	height: 60vh;
	padding-top:0;
}

.submain-child {
	background-color: #fff !important;
	opacity: .9 !important;
}

.head {
	font-size: 3em;
	font-weight: lighter;
	color: green;
	padding-bottom: 30px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
	font-size: 3.5rem;
  }
}

.signup {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 20px;
}

.one {
	background-color: green !important;
}

.btn-one {
	color: green !important;
	background-color: #fff;
}

.btn-two {
	color: #ffffff !important;
	background-color: green;
}

.row {
	border-top: 20px solid #fff;
}

.h-brand {
	font-size: 3em;
}
