<div class="main  text-center bg-light">
	<div class="submain">
		<br>
		<br>
		<br>
		<div class="col-md-6 p-lg-6 mx-auto my-5 submain-child">
			<h1 class="display-3 mt-3 pt-3 head">goOrganic</h1>
			<p class="font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
			<div class="signup mt-4">
			  <a class="btn btn-outline-secondary btn-one" [routerLink]="['/user/signin-form']">Login</a>
			  <a class="btn btn-outline-secondary btn-two" [routerLink]="['/user/signup-form']">Register</a>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-6">
			<div class="bg-dark one mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
				<div class="my-3 py-3">
				  <h2 class="display-5">Top Product</h2>
				  <p class="lead">This is the best selling product this month.</p>
				</div>
				<div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
				<div class="my-3 p-3">
				  <h2 class="display-5">New Products</h2>
				  <p class="lead">Some of our products.</p>
				</div>
				<div class="bg-dark one shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0"></div>
			  </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="bg-dark one mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
				<div class="my-3 py-3">
				  <h2 class="display-5">One headline</h2>
				  <p class="lead">And an even wittier subheading.</p>
				</div>
				<div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
				<div class="my-3 p-3">
				  <h2 class="display-5">Two headline</h2>
				  <p class="lead">And an even wittier subheading.</p>
				</div>
				<div class="bg-dark one shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0"></div>
			  </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="bg-dark one mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
				<div class="my-3 py-3">
				  <h2 class="display-5">One headline</h2>
				  <p class="lead">And an even wittier subheading.</p>
				</div>
				<div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
				<div class="my-3 p-3">
				  <h2 class="display-5">Two headline</h2>
				  <p class="lead">And an even wittier subheading.</p>
				</div>
				<div class="bg-dark one shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0"></div>
			  </div>
		</div>
	</div>
	<br>
	<br>
</div>
<!--	<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
		<div class="col-md-6 p-lg-6 mx-auto my-5">
		  <h1 class="display-3">goOrganic</h1>
		  <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
		  <div class="signup mt-4">
			<a class="btn btn-outline-secondary" href="#">Login</a>
			<a class="btn btn-outline-secondary" href="#">Register</a>
		  </div>
		</div>
		<div class="product-device shadow-sm d-none d-md-block"></div>
		<div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
	</div>

	  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="bg-dark one mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
		  <div class="my-3 py-3">
			<h2 class="display-5">One headline</h2>
			<p class="lead">And an even wittier subheading.</p>
		  </div>
		  <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
		</div>
		<div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
		  <div class="my-3 p-3">
			<h2 class="display-5">Two headline</h2>
			<p class="lead">And an even wittier subheading.</p>
		  </div>
		  <div class="bg-dark one shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
		</div>
	  </div>

	  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
		  <div class="my-3 p-3">
			<h2 class="display-5">Three headline</h2>
			<p class="lead">And an even wittier subheading.</p>
		  </div>
		  <div class="bg-dark one shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
		</div>
		<div class="bg-primary one mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
		  <div class="my-3 py-3">
			<h2 class="display-5">Four headline</h2>
			<p class="lead">And an even wittier subheading.</p>
		  </div>
		  <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
		</div>
	  </div>

	  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
		  <div class="my-3 p-3">
			<h2 class="display-5">Five headline</h2>
			<p class="lead">And an even wittier subheading.</p>
		  </div>
		  <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
		</div>
		<div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
		  <div class="my-3 py-3">
			<h2 class="display-5">Seven headline</h2>
			<p class="lead">And an even wittier subheading.</p>
		  </div>
		  <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
		</div>
	  </div>

	  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="bg-light mr-md-5 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
		  <div class="my-3 p-3">
			<h2 class="display-5">Eight headline</h2>
			<p class="lead">And an even wittier subheading.</p>
		  </div>
		  <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
		</div>
		<div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
		  <div class="my-3 py-3">
			<h2 class="display-5">Nine headline</h2>
			<p class="lead">And an even wittier subheading.</p>
		  </div>
		  <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
		</div>
		<div class="bg-light mr-md-5 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
			<div class="my-3 p-3">
			  <h2 class="display-5">Eight headline</h2>
			  <p class="lead">And an even wittier subheading.</p>
			</div>
			<div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
		  </div>
		  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
			<div class="my-3 py-3">
			  <h2 class="display-5">Nine headline</h2>
			  <p class="lead">And an even wittier subheading.</p>
			</div>
			<div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
		  </div>
	  </div>
	-->


