.container {
  height: 100vh;
}

.signin {
  padding-top: 30vh;
}

#btn-one,
#btn-three {
  color: green;
  background-color: #fff;
  border: 1px solid green;
}

#btn-two {
  color: #fff;
  background-color: green;
}

.head {
  font-size: 4em;
  font-weight: lighter;
  color: green;
  padding-bottom: 30px;
}
