<div class="container">

	<div class="signin text-center">
		<h1 class="display3 head">goOrganic</h1>

		<button class="btn btn-lg  btn-block btn-one" type="submit" [routerLink]="['/user/client-signup']">Register as Client</button>
		<button class="btn btn-lg  btn-block btn-two" type="submit" [routerLink]="['/user/farmer-signup']">Register as Farmer</button>
		<br>
		<button class="btn btn-lg  btn-block btn-one" type="submit" [routerLink]="['/']">Cancel</button>
		<p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
	</div>
</div>
