<div class="container-fluid">

	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron text-center">
		<div class="text-center bg-success animate__animated animate__bounceInRight" style="border-radius: 10px;">
			<div >
				<br>
				<span class="d-block"><i class="fa fa-user"></i></span>
				<br>
				<h1 style="color: white; font-weight: 100; font-size: 3rem;" class="display-4">Welcome To goOrganic</h1>
				<br>
			</div>
		  <h1 class="display-1 text-light">Admin Panel Point</h1>
          <div class="row justify-content-center">
			  <div class="col-md-8">
				<p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore esse vero impedit rerum ipsa quae ullam numquam reiciendis libero laudantium, quaerat accusantium debitis qui, nostrum nisi velit expedita, aperiam sequi? Molestias, quam unde a nobis molestiae, nemo, itaque possimus reiciendis tempore facere ea totam quod officia sunt qui illum quo.</p>
			  </div>
		  </div>
		  <p>
			<a class="btn btn-lg btn-light text-success" role="button">Admin &raquo;</a>
		  </p>
		  <br>
		</div>
	</div>

  </div>
