<div class="fluid-container main">
	<div class="sidebar-container">
		<div class="sidebar-logo bg-success">
			goOrganic
		</div>
		<ul class="sidebar-navigation">
			<li class="header">Admin Panel</li>
			<li>
				<a [routerLink]="['home']">
					<i class="fa fa-home" aria-hidden="true"></i> Home
				</a>
			</li>
			<li>
				<a [routerLink]="['profile']">
					<i class="fa fa-user" aria-hidden="true"></i> Profile
				</a>
			</li>
			<li>
				<a>
					<i class="fa fa-tachometer" aria-hidden="true"></i> Logout
				</a>
			</li>
			<li class="header">Another Menu</li>
			<li>
				<a [routerLink]="['agrocompanies']">
					<i class="fa fa-user-circle-o" aria-hidden="true"></i> Agro-Companies
				</a>
			</li>
			<li>
				<a [routerLink]="['insurance']">
					<i class="fa fa-university" aria-hidden="true"></i> Insurance
				</a>
			</li>
			<li>
				<a [routerLink]="['farmers']">
					<i class="fa fa-user-o" aria-hidden="true"></i>Farmers
				</a>
			</li>
			<li>
				<a [routerLink]="['products']">
					<i class="fa fa-users" aria-hidden="true"></i> Products
				</a>
			</li>
		</ul>
	</div>

	<div class="content-container" [@slideInAnimation]="o.isActivated ? o.activatedRoute : ''">
		<router-outlet #o="outlet"></router-outlet>
	</div>
</div>
