img {
  width: 220px;
  height: 35vh;
}

#matCard {
  margin-bottom: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.mat-card-title {
  color: rgb(0, 119, 255);
}

#matCard:hover {
  background-color: #cbbdd8;
}

.grad {
  background-image: linear-gradient(to right, #eee, green);
  color: green;
  margin-left: 10px;
  height: 6vh;
  padding-top: 2px;
}
