.main {
	padding-top: 10vh; height: 100vh;
}
input{
	width: 100%;  border-radius: 5px; border: .1px solid #eeeeee;
	margin-bottom: 5px;
  }
  label{
	color: green; font-weight: 900;
  }

  .error input{
	background-color: rgb(241, 168, 168);
  }
  em{
	color: red;
	background-color: #ffffff;
	border-radius: 5px;
  }

  .sub-main{
	 border-radius: 10px; border: .5px solid green; background-color: green;
  }
  form {
	margin-bottom: 20px;
  }

  .btn-one{
	color: green !important; background-color: #ffffff; margin-right: 10px;
   }
   .btn-two{
		color: green !important; background-color: #fff;
   }
