.main {
  height: 100vh;
}

input {
  width: 100%;
  border-radius: 5px;
  border: 0.1px solid #eee;
  margin-bottom: 5px;
}

label {
  color: green;
  font-weight: 900;
}

.error input {
  background-color: rgb(241, 168, 168);
}

em {
  color: red;
  background-color: #fff;
  border-radius: 5px;
}

.sub-main {
  border-radius: 10px;
  border: 0 solid green;
}

form {
  margin-bottom: 20px;
  height: 100%;
  background-color: green;
  padding: 5px;
  border-radius: 10px;
  border: 0.5px solid green;
}

#btn-one {
  color: green;
  background-color: #fff;
  margin-right: 10px;
}

#btn-two {
  color: green;
  background-color: #fff;
}

#log {
  cursor: pointer;
}

.fa {
  font-size: 1.2rem;
}
