<div class="fluid-container main">

	<div class="container-fluid">

		<!-- Main component for a primary marketing message or call to action -->
		<div class="jumbotron">
            <div class="row">
				<div class="col-md-8">
					<h1>Account Overview</h1>
					<div class="row justify-content-between mb-3">
						<div class="col-sm-5">
							<div class="card">
								<div class="card-header clearfix">
									Account Details
									<i class="fa fa-pencil float-right"></i>
								</div>
								<div class="card-body">
									<h3 class="card-title">Admin Name</h3>
									<p class="card-text">Admin email</p>
									<button class="btn btn-link text-warning">CHANGE PASSWORD</button>
								</div>
							</div>
						</div>
						<div class="col-sm-5">
							<div class="card">
								<div class="card-header clearfix">
									Address Book
									<i class="fa fa-pencil float-right"></i>
								</div>
								<div class="card-body">
									<h3 class="card-title">Add Address</h3>
									<p class="card-text">Add admin address</p>
									<button class="btn btn-link text-warning">CHANGE ADDRESS</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<p>
				<a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Admin &raquo;</a>
			</p>
		</div>

	</div>
</div>
