<div class="main">
	<div class="submain">
		<br>
		<br>
		<br>
		<div class="col-md-6 p-lg-6 mx-auto my-5 bg-success text-white text-center" id="submain-child">
			<h1 class="display-1 mt-0 pt-4 px-0 mx-0 head mb-3 text-white animate__animated animate__bounceInRight">About goOrganic</h1>
			<p class="font-weight-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, reiciendis.</p>
			<div class="signup mt-4">
			</div>
			<br>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div id="one" class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5  text-white overflow-hidden">
					<div class="my-3 py-3">
					  <h2 class="display-5 text-center ">Marketing</h2>
					  <p class="text-justify bg-success text-white p-3 amos">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa eaque fuga natus est dolore dignissimos ducimus saepe expedita? Eius, aliquam?</p>
					</div>
					<div class="bg-light shadow-sm mx-auto child">
						<div class="shadow-sm mx-auto">
							<img class="img-fluid" src="assets/images/market2.jpg">
						</div>
					</div>
					<div class="mt-2  bg-success amos">
						<h3 class="mb-0 mt-3 text-white text-center">Marketing Strategies</h3>
						<ul class="list-group text-success w-75 mx-auto mt-0 amos">
							<li class="list-group-item font-weight-bold">Lorem ipsum dolor sit amet.</li>
							<li class="list-group-item font-weight-bold">Lorem ipsum dolor sit amet.</li>
							<li class="list-group-item font-weight-bold">Lorem ipsum dolor sit amet.</li>
							<li class="list-group-item font-weight-bold">Lorem ipsum dolor sit amet.</li>
						</ul>
						<br>
					</div>
					<br>
				</div>
			</div>
			<div class="col-md-6">
				<div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
					<div class="my-3 p-3 text-success">
					  <h2 class="display-5 text-success">Farmer Organizations</h2>
					  <p class="text-justify bg-success text-white p-3 amos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quo iusto quos sint deserunt? Debitis alias dolores recusandae beatae aliquam!</p>
					</div>
					<div id="two" class="shadow-sm mx-auto child bg-light">
						<div class="shadow-sm mx-auto">
							<img class="img-fluid" src="assets/images/about.jpg">
						</div>
					</div>
					<div class="mt-2  bg-success amos">
						<h3 class="mb-0 mt-3 text-white text-center">Farmers Groups</h3>
						<ul class="list-group text-success w-75 mx-auto mt-0 amos">
							<li class="list-group-item font-weight-bold">Lorem ipsum dolor sit amet.</li>
							<li class="list-group-item font-weight-bold">Lorem ipsum dolor sit amet.</li>
							<li class="list-group-item font-weight-bold">Lorem ipsum dolor sit amet.</li>
							<li class="list-group-item font-weight-bold">Lorem ipsum dolor sit amet.</li>
						</ul>
						<br>
					</div>
				  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
					<div class="my-3 p-3">
					  <h2 class="display-5 text-success">Services</h2>
					  <p class="text-justify bg-success text-white p-3 amos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquam, ab animi expedita odit, distinctio quos sint fuga debitis ad illum ea at magni, quaerat illo eius impedit ratione eligendi!</p>
					</div>
					<div id="four" class="shadow-sm mx-auto child">
						<div class="shadow-sm mx-auto">
							<img class="img-fluid" src="assets/images/market.jpg">
						</div>
					</div>
					<div class="mt-2  bg-success amos">
						<h3 class="mb-0 mt-3 text-white text-center">Ours Services</h3>
						<ul class="list-group text-success w-75 mx-auto mt-0 amos">
							<li class="list-group-item font-weight-bold">Lorem ipsum dolor sit amet.</li>
							<li class="list-group-item font-weight-bold">Lorem ipsum dolor sit amet.</li>
							<li class="list-group-item font-weight-bold">Lorem ipsum dolor sit amet.</li>
							<li class="list-group-item font-weight-bold">Lorem ipsum dolor sit amet.</li>
						</ul>
						<br>
					</div>
				  </div>
			</div>
			<div class="col-md-6">
				<div id="three" class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
					<div class="my-3 py-3">
					  <h2 class="display-5">Farming Mechanism</h2>
					  <p class="text-justify bg-success p-3 amos">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti adipisci voluptatem aperiam perspiciatis totam. Dignissimos esse eos doloremque beatae magni cumque sint, similique labore aliquid fuga nemo rem neque. Architecto!</p>
					</div>
					<div class="bg-light shadow-sm mx-auto child" >
						<div class="shadow-sm mx-auto">
							<img class="img-fluid" src="assets/images/mt-1021-gallery-img05-bg.jpg">

						</div>
					</div>

					<div>
						<h3 class="mb-1 mt-2 text-white"> About goOrganic Farming</h3>
						<p class="text-justify bg-success text-white amos p-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore veritatis neque dolores quae voluptatum, voluptate quasi eveniet aperiam illo excepturi cum sequi voluptas autem perspiciatis quo vero ipsa, itaque expedita. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, voluptatibus!</p>
					</div>


				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div id="five" class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
					<div class="my-3 py-3">
					  <h2 class="display-5">Agro-Companies</h2>
					  <p class="text-justify bg-success p-3 amos">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat soluta incidunt nam quae quos laboriosam libero dicta dolor veritatis vero nesciunt omnis, cumque, voluptate molestiae consectetur! Voluptates non omnis cumque.</p>
					</div>
					<div class="shadow-sm mx-auto bg-light child" >
						<div class="shadow-sm mx-auto" >
							<img class="img-fluid" src="assets/images/fer.webp">
						</div>
					</div>
					<div>
						<h3 class="mb-1 mt-2 text-white">Learn the best farming practice</h3>
						<p class="text-justify bg-success text-white amos p-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore veritatis neque dolores quae voluptatum, voluptate quasi eveniet aperiam illo excepturi cum sequi voluptas autem perspiciatis quo vero ipsa, itaque expedita.</p>
					</div>

					<div class="mt-2  bg-success amos">
						<h3 class="mb-0 mt-3 text-white text-center">List Of Agro-Companies</h3>
						<ul class="list-group text-success w-75 mx-auto mt-0 amos">
							<li class="list-group-item font-weight-bold">Lorem ipsum dolor sit amet.</li>
							<li class="list-group-item font-weight-bold">Lorem ipsum dolor sit amet.</li>
							<li class="list-group-item font-weight-bold">Lorem ipsum dolor sit amet.</li>
							<li class="list-group-item font-weight-bold">Lorem ipsum dolor sit amet.</li>
						</ul>
						<br>
					</div>
					<br>
				</div>
			</div>


			<div class="col-md-6">
				<div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
					<div class="my-3 p-3">
					  <h2 class="display-5 text-success">Insurance Companies</h2>
					  <p class="text-justify bg-success text-white p-3 amos">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere quaerat dignissimos a tempore hic corrupti, incidunt eveniet. Enim pariatur architecto hic ratione veritatis minus iusto aperiam, consectetur voluptatibus reprehenderit laboriosam.</p>
					</div>
					<div id="six" class="shadow-sm mx-auto child" >
						<div class="shadow-sm mx-auto" >
							<img class="img-fluid" src="assets/images/insu.jpg">
						</div>
					</div>
					<div class="mt-2  bg-success amos">
						<h3 class="mb-0 mt-3 text-white text-center">List Of Insurance Companies</h3>
						<ul class="list-group text-success w-75 mx-auto mt-0 amos">
							<li class="list-group-item font-weight-bold">Lorem ipsum dolor sit amet.</li>
							<li class="list-group-item font-weight-bold">Lorem ipsum dolor sit amet.</li>
							<li class="list-group-item font-weight-bold">Lorem ipsum dolor sit amet.</li>
							<li class="list-group-item font-weight-bold">Lorem ipsum dolor sit amet.</li>
						</ul>
						<br>
					</div>
				  </div>
			</div>
		</div>
		<br><br>
	</div>
</div>
