<div class="container main">
	<h2 class="text-white bg-success py-2 pl-2 font-weight-bold animate__animated animate__bounceInRight">Our Top Products</h2>
	<hr>
	<div class="row container">
    <div class="col-sm-8 col-md-5">
			<div class="input-group">
				<input type="text" class="form-control" [(ngModel)]="listfilter" placeholder="search...">
				<div class="input-group-append">
						<span class="input-group-text"><i class="fa fa-search"></i></span>
				</div>
			</div>
		</div>
	</div>
	<br>
    <div class="row mx-sm-0 mx-md-2 p-md-3 d-flex justify-content-center" >
		<div @fade *ngFor="let product of  filteredArr" class="col-sm-4 col-md-3 ">
			<app-product-thumbnail [product]="product"></app-product-thumbnail>
		</div>
	</div>
</div>
