<div class="container main">
  <div class="sub-main" *ngIf="product">
    <div class="row">
      <div class="col-md-9">
        <br>
        <h2 class="py-2 bg-success pl-2 text-white">{{product?.name}}</h2>
        <hr>
      </div>
    </div>

    <div class="col-md-9">
      <img [src]="product?.imageUrl" [alt]="product?.name">
    </div>

    <div class="row">
      <div class="col-md-9">
        <br>
        <strong class="text-success">Price: </strong><span> {{ product?.price | currency:'Ksh': 'symbol':'1.2-2'}}</span><br>
        <strong class="text-success">Realese Date:</strong><span> {{product?.releaseDate}}</span><br>
        <strong class="text-success">Product Code:</strong><span> {{product?.productCode}}</span><br>
        <app-star [rating]="product?.starRating"></app-star>
        <div class="mt-2">
          <h3 class="text-success mb-1 font-weight-bold">Product Details</h3>
          <p class="details bg-success text-white py-3 text-justify">{{product?.description}}</p>
        </div>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-outline-success mr-3 " >___Buy</button>
      <button type="button" class="btn btn-outline-secondary" (click)="addToCart(product)">Add to Cart</button>
    </div>
    <div>
      <button type="button" class="btn btn-outline-secondary" id="btn_three" [routerLink]="['/products']">___Back</button>
    </div>
  </div>
  <br>
</div>


