<div class="fluid-container main">
	<div class="sidebar-container">
		<div class="sidebar-logo bg-success">
		  goOrganic
		</div>
		<ul class="sidebar-navigation">
		  <li class="header">Admin Panel</li>
		  <li>
			<a (click)="homeF()">
			  <i class="fa fa-home" aria-hidden="true"></i> AdminHome
			</a>
		  </li>
		  <li>
			<a (click)="profileF()">
			  <i class="fa fa-tachometer" aria-hidden="true"></i> Profile
			</a>
		  </li>
		  <li>
			<a href="javascript:void()">
			  <i class="fa fa-tachometer" aria-hidden="true"></i> Logout
			</a>
		  </li>
		  <li class="header">Another Menu</li>
		  <li>
			<a (click)="agroCompF()">
			  <i class="fa fa-users" aria-hidden="true"></i> Agro-Companies
			</a>
		  </li>
		  <li>
			<a (click)="insuranceF()">
				<i class="fa fa-users" aria-hidden="true"></i> Insurance
			</a>
		  </li>
		  <li>
			<a (click)="farmersF()">
				<i class="fa fa-users" aria-hidden="true"></i> Farmers
			</a>
		  </li>
		  <li>
			<a (click)="productsF()">
				<i class="fa fa-users" aria-hidden="true"></i> Products
			</a>
		  </li>
		</ul>
	  </div>

	  <div class="content-container">

		<div class="container-fluid">

		  <!-- Main component for a primary marketing message or call to action -->
		  <div class='card'>
			<div class='card-header text-success font-weight-bold'>
			  Products
			</div>
			<div class='card-body'>
			  <div class='row'>
				<div class='col-md-2'>Filter</div>
			  <div class='table-responsive'>
				<table class='table'
					   *ngIf='products && products.length'>
				  <thead>
					<tr>
					  <th>
						<button class='btn btn-success'
								(click)='toggleImage()'>
						  {{showImage ? 'Hide' : 'Show'}} Image
						</button>
					  </th>
					  <th>Product</th>
					  <th>Code</th>
					  <th>Available</th>
					  <th>Price</th>
					</tr>
				  </thead>
				  <tbody>
					<tr *ngFor='let product of products'>
					  <td>
						<img *ngIf='showImage'
							 [src]='product.imageUrl'
							 [style.width.px]='imageWidth'
							 [style.margin.px]='imageMargin'>
					  </td>
					  <td>
						  {{product.name}}
					  </td>
					  <td>{{ product.productCode}}</td>
					  <td>{{ product.releaseDate }}</td>
					  <td>{{ product.price | currency:'USD':'symbol':'1.2-2' }}</td>
                      <td><Button class="btn btn-danger">Delete</Button></td>
					</tr>
				  </tbody>
				</table>
			  </div>
			</div>
		  </div>

		 </div>
	  </div>
</div>

