<div class="container-fluid main">
	<mat-card id="matCard">
  <div class="row" id="row-one">
    <div class="col-md-7"><p style="text-align: left; margin-right: 10px;"><i class="fa fa-shopping-cart"></i></p></div>
    <div class="col-md-5"><h2>Items In Cart</h2></div>
  </div>
  <br>

  <div class="row mb-5" >
   <mat-card  class="col-md-9 mb-1 mt-2" *ngFor="let item of items" class="cart-item">
    <div class="cart-item-child mb-1">
      <span>{{item.name}}</span>
      <span>{{item.price | currency:'Ksh ': 'symbol': '1.2-2'}}</span>
      <span><button type="button" class="btn btn-light text-success">CROMO</button></span>
   </div>
   </mat-card>
  </div>

  <div class="row">
    <mat-card  class="col-md-9" class="cart-item">
     <div class="cart-item-child">
       <button type="button" class="btn btn-light text-success px-3" >BUY</button>
    </div>
    </mat-card>
   </div>
  <br><br>

  <div class="row">
    <mat-card class="col-md-9 summary" >
      <div class="cart-item-child">
        <button type="button" class="btn btn-success text-light"  [routerLink]="['/services/products']">Add More/ Back</button>
        <button type="button" class="btn btn-outline-secondary" id="btn-three" (click)="clearCart()" >Clear Cart</button>
      </div>
    </mat-card>
  </div>
	</mat-card>
	<br>
</div>

